/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    height: 650px;
    background-color: rgba(4, 17, 58, 0.877);
    padding: 20px;
   }
   #header{
    min-height: 50px;
    background-color: rgb(167, 39, 7);
    margin: 10px;
    border: 20px;
    padding: 20px;
    display: block;
    border-radius: 25px;

   }
   #navigation{
    min-height: 300px;
    width: 25%;
    background-color: rgb(54, 135, 167);
    margin: 10px;
    margin-top: 20px;
    border: 20px;
    padding: 20px;
    display: inline-block;
    border-radius: 25px;

   }
   #main_content{
    min-height: 400px;
    width: 60%;
    background-color: rgb(14, 11, 11);
    margin: 10px;
    margin-top: 20px;
    border: 20px;
    padding: 20px;
    display: inline-block;
    float: right;
    border-radius: 25px;

   }
   #footer{
    min-height: 20px;
    width: 870px;
    background-color: rgb(95, 86, 86);
    margin: 10px;
    margin-top: 20px;
    border: 20px;
    padding: 20px;
    float: right;
    display: block;
    border-radius: 25px;

   }
   h1{
       color: rgb(236, 232, 232);
   }
   
   h3{
       color: rgb(236, 232, 232);
   }
   
   p{
       display: inline-block;
       color:rgb(63, 202, 202);
   }
  
    ul{
        display: block;
        color:rgb(63, 202, 202);
        list-style-position: inside;
    }   
    p.content{
        color: rgb(236, 232, 232);

    }
    ul.content{
        color: rgb(236, 232, 232);

    }
    ul.a{
        display: block;
        color:rgb(63, 202, 202);
        list-style-position: outside;
    }  
    ul.b{
        display: block;
        color:rgb(63, 202, 202);
        list-style-position: inside;
    }  
    a{
        color:rgb(63, 202, 202);
        text-decoration: underline;
    }
    .highlight{
        color:rgb(77, 58, 185);
    }